<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <title>404!Error</title>
</head>
<body>
    <div class="jumbotron bg-dark text-success text-center ">
        <h1>FARMER ATTIC</h1>
        </div>
        <div class="py-3 text-capitalize text-dark text-center">
            <h1 class="text-danger">Transaction failed</h1> 
           <h3>try again later</h3>
        </div>
        <div class="text-center">
            <a href="/shop/checkOut">
            <button class="btn text-capitalize btn-outline-info">return to checkout page</button></a>
        </div>
</body>
</html>